@tailwind base;
@tailwind components;
@tailwind utilities;

/* .big-text {
  @apply text-[8rem];
} */

/* @layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
} */
